@media (max-width: 900px){
    .header{
        background: linear-gradient(rgba(24, 24, 24, .6), rgba(24, 24, 24, .6)), url("../img/capa-mobile.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}

@media (max-width: 650px){
    .chamada{
        margin: 120px 0 0 5vw;
    }

    .chamada h1{
        font-size: 1.3em;
    }

    .chamada p{
        font-size: .8em;
    }
}