@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

.desconto{
    width: 100%;
    height: 60px;
    font-size: .9em;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #181818;
}

.header{
    height: 438px;
    width: 100%;
    background: linear-gradient(rgba(24, 24, 24, .6), rgba(24, 24, 24, .6)), url("../img/Capa.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.logo{
    width: 100%;
    height: 60px;
    color: #181818;
    font-style: normal;
    font-weight: 600;
    font-size: 1.5em;
    line-height: 196.19%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F9F9F9;
}

.chamada{
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 120px 0 0 100px;
}

.chamada h1{
    font-weight: 700;
    font-size: 2em;
    color: #F9F9F9;
}

.chamada p{
    font-weight: 500;
    font-size: 1em;
    line-height: 196.19%;
}

.div{
    text-align: center;
    margin: 58px 0px;
}

.div h1{
    color: #181818;
    font-style: normal;
    font-weight: 600;
    font-size: 1.5em;
    line-height: 196.19%;
}

.div p{
    font-size: .9em;
    text-align: center;
}

.air-jordan{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    padding: 0 10vw;
    gap: 20px;
}

.air-jordan-geral{
    margin: 0 auto;
    width: 300px;
    height: 302px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background: #EBE9EA;
}

.air-jordan-geral img{
    opacity: .8;
    transition: all .3s;
}

.air-jordan-geral:hover img{
    opacity: 1;
    scale: 1.1;
}

.air-jordan-geral h2{
    color: #181818;
    font-style: normal;
    font-weight: 600;
    font-size: 1.2em;
    line-height: 196.19%;
}

footer{
    margin-top: 80px;
    height: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    color: #EBE9EA;
    background-color: #181818;
}

footer a{
    color: cadetblue;
    font-weight: bold;
}